.container-page-main-header{
    position: fixed;
    /* max-height: 94px; */
    z-index: 1030;
    width: 100%;
    background: linear-gradient(white 94px, rgba(0,0,0,0.7) 94px, rgba(0,0,0,0.7));
    margin: 0 auto;
    border-bottom: solid 1px #707070;
    overflow: hidden;
    height: 94px;
    .header-container{
        width: 1354px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .logo:hover{
            text-decoration: none;
        }
        .usermode{
            width: 1354px;;
            margin: auto;
        }
    }

    .logo img{
        margin-left: 31px;
        margin-top: 14px;
    }
    .logo{
        -webkit-transition: width 0.3s ease-in-out;
        -o-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        display: inline-block;
        text-align: left;
        width: 220px;
        font-family: "KoPubWorld Dotum Medium";
        overflow: hidden;
        top: 0;
    }
    .navbar-custom-menu, .navbar-right{
        display: flex;
        margin: auto 10px;
    }

    .navbar{
        -o-transition: margin-left 0.3s ease-in-out;
        transition: margin-left 0.3s ease-in-out;
        margin-bottom: 0;
        border: none;
        /* min-height: 94px; */
        border-radius: 0;
        display: flex;
        justify-content: flex-end;
    }

    .navbar-static-top {
        display: flex;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 14px;
        .navbar-custom-menu{
            display: flex;
            margin: auto 10px;
            .nav.navbar-nav {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                .logout{
                    padding-left: 20px;
                }
                .bell-cursor {
                    cursor: pointer;
                    font-size: 22px;
                }
            }
        }
        #borderclass {
            border-right: 1px solid #df9003;
            margin: auto 12px;
            height: 20px;
        }
    }
    
    @media (min-width: 768px) {
        .navbar-static-top {
            border-radius: 0;
        }
    }

}