.container-page-producer-wineinfo {
    & > div {
        width: 100%;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;

    .commonBorder {
        background-color: #fff;
        padding: 10px 10px;

        .border-style {
            width: 100%;
            margin: 12px auto;
            padding: 18px 26px;
            height: auto;
        }

        .overflow {
            height: 100%;
            overflow: auto;
        }

        .flex-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3px;
        }

        .margin-bottom {
            margin-bottom: 10px;
        }

        .createBeer {
            padding: 8px 20px;
            border: 1px solid #c8c8c8;
            color: black;
            margin-left: 10px;
            background: white;

            &:hover {
                background-color: #555555;
                color: white;
            }
        }
    }

    .commonBorderMargin {
        margin: 0 auto 12px;
    }

    .fontbold {
        font-weight: bold;
    }

    .beer-table {
        tbody {
            tr {
                td {
                    .review-container {
                        display: flex;

                        .rate-container {
                            margin: 0 10px;
                        }
                    }
                }
            }
        }
    }
}

.new-wine-modal {
    margin: 0 auto;
    max-width: 60% !important;
    @media (max-width: 650px) {
        max-width: 100% !important;
    }
    @media (max-width: 450px) {
        max-width: 100% !important;
        font-size: 12px;
        .modal-content {
            .modal-body {
                padding: 0 20px !important;

                .update-form {
                    display: flex;

                    .container-component-fileUpload-public {
                        & > img {
                            width: 100px !important;
                            height: 100px !important;
                            cursor: pointer;
                        }

                        .container-fileUpload-background {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: unset;

                            .container-fileUpload {
                                margin: unset;
                                height: 95vh;
                            }

                            .fileUpload-button-div {
                                top: 45px;
                            }
                        }
                    }

                    .component-apiform {
                        height: 90%;

                        form {
                            margin: 0 0 0 0;

                            .apiform-table {
                                tbody {
                                    tr {
                                        td {
                                            min-width: 100px !important;
                                            height: 30px !important;
                                            font-size: 14px !important;

                                            & > input {
                                                font-size: 14px !important;
                                                height: 30px !important;
                                            }

                                            .apiform-ApiSelect {
                                                font-size: 14px !important;
                                                height: 30px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .beer-extra-info {
                    .beer-unit-price-input {
                        .beer-unit-price-input-container {
                            table {
                                tr {
                                    padding: 2px;

                                    td {
                                        & > input {
                                            max-width: 110px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .new-beer-button-group {
                    .simple-button {
                        width: 80px !important;
                        height: 30px !important;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    .modal-content {
        height: 75%;
        border-radius: 15px;

        .modal-header {
            background: unset !important;
            padding: 20px !important;
            display: flex;
            justify-content: flex-start;

            .close {
                color: rgb(102, 89, 89);
                top: 3px;
                right: 10px;
                font-size: 35px;
            }

            .modal-title {
                color: black;
            }
        }

        .modal-body {
            padding: 0 40px;

            .login-logo {
                text-align: center;

                img {
                    margin: auto;
                    margin-bottom: 20px;
                }
            }

            .new-beer-button-group {
                display: flex;
                justify-content: center;
                margin: 10px 0;

                .simple-button {
                    padding: 0px 20px;
                    background: #F4C921;
                    border: 1px solid #cec3b3;
                    border-radius: 5px;
                    color: #fff;
                    margin-left: 5px;
                    font-size: 18px;
                    height: 45px;
                    width: 90px;
                    letter-spacing: 4px;
                    line-height: 31px;
                }
            }

            .beer-extra-info {
                margin-top: 20px;

                .beer-unit-price-content-header {
                    font-weight: bold;
                }

                .beer-unit-price-input-header {
                    font-weight: bold;
                }
            }
        }

        .modal-footer {
            border-top: unset !important;
            padding: 0 50px;

            .footer-button {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 40px;
                font-size: 15px;

                span {
                    cursor: pointer;
                }
            }
        }
    }
}
