.advertise-container {
    background-color: #fff;
    padding: 25px 10px;

    .page-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            font-size: 16px;
            font-weight: bold;
        }

        .right-button-content {
            .control-button {
                background-color: white;
                border-radius: 4px;
                color: black;
                padding: 8px 20px;
                border: 1px solid #c8c8c8;
            }

            .control-button:hover {
                background-color: #555555;
                border-radius: 4px;
                color: white;
            }
        }
    }

    table {
        margin-top: 5px;
        th, td {
            padding: 5px;
            //border: 1px solid #ddd;
            vertical-align: middle;

            a {
                text-decoration: underline !important;
                cursor: pointer;
            }
        }
    }
}

.create-advertise-modal {
    .rdtPicker .rdtDays {
        width: auto;
    }

    .rdt input {
        background: white;
        border: none;
        padding-left: 0px;
        padding-top: 10px;
    }

    .footer-button {
        display: flex;
        justify-content: center;
    }

    .file-list-item {
        img {
            height: 50px;
        }
    }
    
    .dropzone-previews {
        img {
            height: 50px;
        }
    }
}