.container-component-pub-item {
    display: flex;
    margin-top: 12px;
    font-size: 15px;
    @media (max-width: 500px) {
        .pub-item-image {
            width: max-content !important;

            img {
                width: 80px !important;
                height: 80px !important;
            }
        }
        .pub-detail-container {
            text-align: center;
            width: 100% !important;
        }
    }
    @media (max-width: 320px) {
        font-size: 10px !important;
        .pub-item-image {
            width: max-content !important;

            img {
                width: 80px !important;
                height: 80px !important;
            }
        }
        .pub-detail-container {
            text-align: center;
            width: 100% !important;
        }
    }

    .pub-item-image {
        display: flex;
        padding-right: 10px;
        justify-content: center;
        align-items: center;

        img {
            width: 90px;
            height: 90px;
        }
    }

    .pub-detail-container {
        color: #888;
        padding-left: 10px;
        width: calc(100% - 250px);

        .pub-detail-tag-content {
            display: flex;
            justify-content: space-between;

            .pub-detail-beer-count {
                margin-top: 15px;
                font-weight: bold;
            }
        }

        .pub-name {
            cursor: pointer;
        }

        .pub-detail-item {
            text-align: start;
            display: flex;
            flex-direction: column;

            &:first-child {
                margin-bottom: 15px;
            }
        }
    }
}